<%= provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= gravatar_for @user %> <!--está usando o helper gravatar_for e enviado @user para ele-->
				<%= @user.name %>
			</h1>
		</section>
	</aside>
</div>