<% if @user.errors.any? %>
<!-- any? irá retornar true se existir qualquer coisa, inclusive erros, e false para nada -->
  <div id="error_explanation">
    <div class="alert alert-danger">
    <!-- pluralize irá fazer o plural da palavra error
    .count fara a contagem dos erros que existem  
    -->
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>